/* COMMON */
img {
    max-width: 100%;
}

.ms_wrapper {
    width: 100%;
    height: 100vh;
}

.ms_btn {
    border: none;
    background: none;
}

/* HEADER */
header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: 1rem;
    padding-top: 10px;
}

.logo-desktop {
    display: none;
}

.search-bar {
    background-color: #E5E5E5;
    border-radius: 7px;
    width: 100%;
}

.search-glass {
    padding-left: 10px;
    margin-right: 15px;
    padding-top: 7px;
}

.search {
    text-decoration: none;
    border: none;
    height: 40px;
    background-color: #E5E5E5;
    width: 65%;
}

.search:focus-visible {
    outline: none;
}

.search::placeholder {
    color: #C0BEBC;
    opacity: 1;
}

.notifications {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icons-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    header {
        height: 70px;
    }
}

@media screen and (min-width: 992px) {
    header {
        height: 60px;
    }

    .logo {
        width: 150px;
        height: 50px;
    }

    .logo-mobile {
        display: none;
    }

    .logo-desktop {
        display: inline-block;
    }

    .icons-desktop {
        display: block;
    }
}

/* MAIN */
/* common */
main {
    display: flex;
    height: calc(100vh - 80px);
}

@media screen and (min-width: 768px) {
    main {
        height: calc(100vh - 70px);
    }
}

@media screen and (min-width: 992px) {
    main {
        height: calc(100vh - 60px);
    }
}

/* container left */
.container-left {
    width: 70px;
    background-color: #12293E;
    background-image: url(../img/sidebar-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.container-left a {
    color: white;
    text-decoration: none;
}

.home {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.settings {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.container-left button {
    color: white;
}

.container-left span {
    padding-left: 1rem;
    display: none;
}

.hover-btn:hover {
    background-color: rgba(255, 255, 255, 0.295);
}

@media screen and (min-width: 768px) {
    .container-left {
        width: 60px;
    }
}

@media screen and (min-width: 992px) {
    .container-left {
        width: 120px;
    }

    .container-left span {
        display: inline-block;
    }
}

/* container right */
.container-right {
    width: calc(100% - 70px);
    overflow-y: auto;
} 

@media screen and (min-width: 768px) {
    .container-right {
        width: calc(100% - 60px);
    }
}

@media screen and (min-width: 992px) {
    .container-right {
        width: calc(100% - 120px);
    }
}

/* blue section */
.blue {
    background-color: #1B72E8;
    color: white;
}

.blue a {
    color: white;
    text-decoration: none;
}

.plus-btn {
    margin-left: 1rem;
    border: 1px solid white;
    border-radius: 5px;
}

.background-grey {
    background-color: #165BBA;
    padding: 1px 10px 3px;
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
    .change-order {
        order: 3;
    }
}

/* column section */
/* table column */
.title-columns {
    background-color: #F7F7F7;
    border-bottom: 1px solid #E8E8E8;
}

.logo-developement {
    width: 20px;
}

.table-buttons {
    color: grey;
    border: 1px solid grey;
    margin-right: 1rem;
    border-radius: 2px;
}

.done {
    background-color: #198754;
    padding: 0 5px;
    border-radius: 5px;
}

.process {
    background-color: #FFC107;
    padding: 0 5px;
    border-radius: 5px;
}

.failed {
    background-color: #DC3545;
    padding: 0 5px;
    border-radius: 5px;
}

/* F.A.Q. column */



/* Todo column */ 



/* Stats column */